/*
!/.gitignore
!/class_app.py
!/models.py
!/class_app.db
!/requirements.txt
!/models.py
!/test_transients.csv
!/transients.csv
!/utils.py
!/vlass_utils.py
!/wpd_datasets.csv
!/templates/
!/static/background_images/
!static/css/
static/cutouts/*
!static/cutouts/
static/light_curves/*
!static/cutouts/
static/cutouts/*
static/wise_plots/*
!static/wise_plots/
!static/*
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
_pycache__/
class_app.db
venv
.venv
.env
.env.kowalski
.env.mastcas
.env.google
